<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../template/template.css" />
    <title>Titulo</title>
  </head>
  <body>
    <nav class="nav-container">
      <a href="../index.html" class="nav-title">
        <h1 id="TITLE" class="nav-title">LOS PARAMOS</h1>
      </a>
      <a class="nav-menu" href="../menu/about-us.html">
        <h1 class="nav-menu">About</h1>
      </a>
    </nav>
    <article class="container">
      <header>
        <h1>titulo del articulo</h1>
        <p>Victor Maldonado</p>
        <img src="../img/test.jpg" alt="Que malo es el inter de cantv" width="400px">
      </header>
      <main>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolores minima doloribus suscipit omnis ex eveniet exercitationem molestiae, cupiditate hic voluptatum quos ducimus asperiores quidem et quo cumque, culpa impedit. Voluptate, illo ut a, consequuntur eum sunt voluptatem est quos maiores inventore architecto similique explicabo iusto labore, cupiditate ipsum odio!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate voluptas voluptatem repellat. Atque, esse ex odio tempora dicta dolor exercitationem?<br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, deleniti laudantium! Dolore, consequatur? Suscipit libero rerum repellat! Veniam voluptatem delectus minus magnam incidunt eos, obcaecati quasi libero dignissimos laborum sit quam! Consequatur, voluptate corrupti! Consequatur unde, aspernatur itaque dicta molestias eaque veritatis illo voluptates explicabo provident ut impedit culpa deserunt fugiat error sint consectetur dolorem et laboriosam perferendis. Sed quam inventore eos vitae laboriosam quia praesentium dolorum quidem aliquid dicta? </p>
        <hr>
        <p>Bibliografia</p>
      </main>
    </article>
    <footer class="footer">
      <p>Copyright 2022</p>
      <p>Created by vama800</p>
      <p>U.E colegio Cristo Rey</p>
    </footer>
  </body>
</html>
